@media all {

    .main {

    }

    div#dados_simples {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.700);
        border-radius: 4px;
    }

    select {
        border: 1px solid rgba(0, 0, 0, 0.700);
        border-radius: 4px;

    }

    textarea {
        border: 1px solid rgba(0, 0, 0, 0.700);
        border-radius: 4px;

    }

    .component-form {
        display: grid;
        grid-template-columns: (1, 1f);
        margin: 10px;
    }
}

@media screen and (max-width: 575px) {
    .main {
        
    }

    .form-container {
        width: 400px;
    }

    div#dados_simples {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (min-width: 575px) and (max-width: 767px) {
    .main {

    }

    .form-container {
        width: 555px;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .main {
    
    }

    .form-container {
        width: 650px;
    }
}


@media screen and (min-width: 991px) {
    .main {
        
    }

    .form-container {
        width: 750px;
    }
}