@media all {

    header h1,
    h2 {
        margin: 0px 5px;
    }

    div.select {
        margin: 0px 5px;
        display: inline-block;

    }

    select {
        border: 1px solid rgba(51, 49, 49, 0.2);
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
    }

    div#imagem {
        height: 230px;
        background-size: contain;
        background-attachment: fixed;
        background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/8953369-transparente-fundo-png-textura-fundo-transparente-grade-gratis-vetor.jpg);
    }

    div#search {
        background-color: rgba(255, 255, 255, 0.900);
        padding: 6px;
    }

    main {
        background-color: #FFFF;
        
    }
}


@media screen and (max-width: 575px) {
    section {
        background-color: blue;
    }

    div.vaga{
        margin: auto;
    }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
    section {
        background-color: pink;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {

    section {
        background-color: darkcyan;
    }
}

@media screen and (min-width: 991px) {
    section {
        background-color: sienna;
    }
}