@import "tailwindcss";



h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
}


h2 {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.25rem;
}



h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
   
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}

h5 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;

}

h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

pre{
    text-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}


select,
button {
    cursor: pointer;
}




#qualificacoes {
    direction: rtl;
    text-align: left;
}

