@import "tailwindcss";


h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #1f2937;
    margin-bottom: 1rem;
}


h2 {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.25rem;
    color: #374151;
    margin-top: 2rem;
    margin-bottom: 1rem;
}



h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    color: #4B5563;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: #4B5563;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #6B7280;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #6B7280;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

i {
    margin-right: 3px;
}



select,
button {
    height: 40px;
    border: 1px solid #9CA3AF;
    border-radius: 2px;
    
}

textarea {
    border: 1px solid;

}

.input-box {
    margin: 15px 0px;
}

#qualificacoes {
    direction: rtl;
    text-align: left;
}


input {
    border: 1px solid #9CA3AF;
    border-radius: 5px;
    padding: 6px;
}